

table {

	border: 1px solid;
	background: #ffffff;
	width: 100%;
	border-collapse: collapse;

}

table tr {
	border: 1px solid black;
	
}

table tbody tr:nth-child(1) {
	background-color: rgb(204, 233, 197);
}

table tbody tr:hover {
	background-color: rgb(7, 233, 41);
}


table th,
table td {
	padding: 1rem;
	font-size: 1.6rem;
	text-align: right;
	vertical-align: middle;
	/* text-align: right; */
	border: 2px solid black;
}

table tr td:first-child {
	text-align: left;
}

table tr td:first-child {
	text-align: left;
	font-weight: bold;
}

table th {
	background-color: rgb(64, 78, 61);
	color: white;
	font-weight: bold;
	font-size: 1.8rem;
	text-align: center;
}

.table-container {
	padding: 2rem 1rem;
}

.table-container h3 {
	font-size: 1.8rem;
	margin-bottom: 1rem;
}

.table-container tfoot {
	background: #f5ebeb;
}

.table-container tfoot td {
	font-weight: bold;
}

 tr td {
	text-align: center;
}








